@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital@0;1&family=Nunito+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Sacramento&display=swap");

body{
font-family: "Nunito Sans";
background-image: url("seniora.jpeg");
background-repeat: no-repeat;
background-size: cover;



}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(112, 199, 90);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  border-radius: 15px;
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-radius: 15px;
}

li a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 15px;
}

li a.active {
  color: rgb(0, 0, 0);
  font-weight: 700;
  background: linear-gradient(to right, #5433ff, #20bdff, #3affef);
  border-radius: 15px;
}

.tpbcd {
  height: 60px;
  padding-top: 15px;
  padding-left: 10px;
  float: left;
}

.motto{
    height: 2.75vw;
    padding-top: 30px;
    padding-right: 10px;
    float: right;
}
.mottoli{
    float: right !important;
    
    color: white;

}

.TitlePage{
  font-size: 5.5vw !important;
  font-family: "Sacramento";
  font-synthesis: weight;
  background: linear-gradient(to right, #0575e6, #021b79);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.rectangle {
  height: 50px;
  width: 100px;
  background-color: #555;
}